@import "../../styles/mixin";
@import "../../styles/variables";

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.capybara-dropdown {
  position: relative;
  display: inline-block;
  color: var(--textColor);
  box-sizing: border-box;

  .list-wrapper {
    position: absolute;
    left: 0;
    min-width: 100%;
    z-index: 10;
    .list-gap {
      height: 0.25rem;
    }

    &.float-right {
      left:unset;
      right: 0;
    }

    &.float-center {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .list {
    box-sizing: border-box;
    background-color: var(--dropdownBg);
    overflow: hidden;
    border: 1px solid var(--dropdownColor);

    &.minimal {
      border-color: var(--dropdownBorderColor);
    }

    @include rounded;
  }

  .list-item {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-wrap: nowrap;
    @include size;

    &.minimal {
      background-color: transparent;
      color: var(--dropdownColor);
    }

    &.fill {
      background-color: var(--dropdownColor);
    }

    &.outline {
      background-color: transparent;
      color: var(--dropdownColor);
    }

    &.three-d {
      background-color: var(--dropdownColor);
      box-shadow:
        inset 3px 3px 5px rgba(255,255, 255, 0.75),
        inset -2px -2px 3px rgba(0,0,0, 0.25);
    }

    &:hover {
      background-color: rgba(var(--dropdownColorRGB), 0.75);
      color: var(--textColor);

      &.minimal {
        background-color: rgba(black, 0.1);
        color: var(--dropdownColor);
      }

      &.outline {
        background-color: var(--dropdownColor);
      }
    }

    &:not(:first-child) {
      border-top: 1px solid var(--dropdownBorderColor);
    }
  }
}
