@import "../../styles/mixin";
@import "../../styles/variables";

.capybara-select {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--selectBorderColor);
  border-radius: 0.25rem;
  position: relative;
  width: 100%;
  box-sizing: border-box;

  &.active {
    border-color: var(--selectColor);
    outline: 2px solid rgba(var(--selectColorRGB), 0.5);
  }

  .selected-value {
    min-width: 0;
    text-overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0.5rem;

    &.multiple {
      padding: 0.25rem 0.5rem 0.25rem 0.25rem;
      .placeholder {
        padding: 0.25rem;
      }
    }

    .placeholder {
      color: var(--selectBorderColor);
    }

    .value-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: inherit;
      font-family: inherit;
      gap: 0.25rem;

      .multiple-button {
        display: flex;
        border-radius: 0.25rem;
        align-items: center;
        padding: 0.25rem 0rem 0.25rem 0.5rem;

        background-color: var(--selectColor);
        color: var(--textColor);

        .icon-wrapper {
          margin: 0 0.125rem;
          font-size: 0.75rem;
          width: 1rem;
          height: 1rem;
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }
        }
      }
    }

    >.icon-wrapper {
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      width: 1rem;
      aspect-ratio: 1;
      cursor: pointer;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }

  .select-dropdown-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem 0rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    border-left: 1px solid var(--selectBorderColor);
    color: var(--selectBorderColor);
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }

  &.disabled {
    cursor: unset;
    background-color: $disabled;
  }
}

.capybara-options {
  text-align: start;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 100%;
  margin-top: 0.15rem;
  min-width: 100%;
  border-radius: 0.25rem;
  background-color: var(--selectBg);
  box-shadow: 0px 2.5px 2.5px rgba(0,0,0, 0.25);
  border: 1px solid var(--selectBorderColor);
  box-sizing: border-box;

  .option {
    padding: 0.5rem;

    &:hover {
      background-color: var(--selectColor);
      color: var(--textColor);
    }
  }
}
